@import "../../vars.css";

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;
    background-color: var(--color-primary);

}

.title {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
    background: transparent;
    border: none;
    box-shadow: none;

}

.menu {
    display: flex;
    background: none;
    border: none;
    box-shadow: none;
}

.menuItems {
    display: flex;
    gap: 47px;
    list-style: none;
    background: none;
}

.menuItems a {
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;
    background: none;
    padding: 10px 0;
    margin: 2px;
}

.menuBtn {
    height: 40px;
    width: 40px;
    display: none;
}

@media screen and (max-width: 830px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuBtn {
        display: block;
        cursor: pointer;
        background: transparent;
        border: none;
        box-shadow: none;
    }

    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: linear-gradient(0deg, rgba(220, 220 ,220, 0.2) 0%, rgba(220, 220, 220, 1) 100%);
        padding: 24px 33px;
    }

    .menuOpen {
        display: flex;
        z-index: 1;
        background-color: black;
    }
}
